<!DOCTYPE html>
<html lang="us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Todo list</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  </head>
  <body>
    <section class="todo-list">
      <form @submit.prevent="addValueInArr">
        <label for="input"> Todo list</label>
        <input id="input" type="text" v-model="value">
        <button>Add</button>
      </form>
      <list v-for="(item, index) of arr" :text="item.text" :key="item.id" @remove="arr.splice(index, 1)"></list>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>
    <script src="main.js"></script>
  </body>
</html>
